#logo {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

.name {
  font-size: 50px;
  font-family: Lato, sans-serif;
  margin-bottom: 5px;
}

.sub-heading {
  font-family: Lato, sans-serif;
}

hr {
  border-width: thick;
  border-color: darkgray;
}

h2 {
  font-size: 30px;
  text-align: center;
}
